<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 打开延迟加载的开关 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<!-- 将积极加载改为按需加载 -->
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	<mappers><!-- 映射器，告诉 MyBatis到哪里去找映射文件-->
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/FieldMapper.xml"/>
        <mapper resource="mapper/PaperMapper.xml"/>
        <mapper resource="mapper/CodeMapper.xml"/>
        <mapper resource="mapper/DataSetMapper.xml"/>
        <mapper resource="mapper/CommentMapper.xml"/>
        <mapper resource="mapper/PaperCodeMapper.xml"/>
        <mapper resource="mapper/PaperDataMapper.xml"/>
 	</mappers>
</configuration>