<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PaperCodeMapper">
  <resultMap id="BaseResultMap" type="po.PaperCode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="paperid" jdbcType="INTEGER" property="paperid" />
    <result column="codeid" jdbcType="INTEGER" property="codeid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, paperid, codeid
  </sql>
  <select id="selectCodeIdByPaperId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select codeid from papercode where paperid = #{paperid}
  </select>
  <select id="selectPaperIdByCodeId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
  	select paperid from papercode where codeid = #{codeid}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from papercode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPaperId" parameterType="java.lang.Integer">
  	delete from papercode where paperid = #{paperid}
  </delete>
  <delete id="deleteByCodeId" parameterType="java.lang.Integer">
  	delete from papercode where codeid = #{codeid}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from papercode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="po.PaperCode">
    insert into papercode (id, paperid, codeid
      )
    values (#{id,jdbcType=INTEGER}, #{paperid,jdbcType=INTEGER}, #{codeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="po.PaperCode">
    insert into papercode
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="paperid != null">
        paperid,
      </if>
      <if test="codeid != null">
        codeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="paperid != null">
        #{paperid,jdbcType=INTEGER},
      </if>
      <if test="codeid != null">
        #{codeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="po.PaperCode">
    update papercode
    <set>
      <if test="paperid != null">
        paperid = #{paperid,jdbcType=INTEGER},
      </if>
      <if test="codeid != null">
        codeid = #{codeid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="po.PaperCode">
    update papercode
    set paperid = #{paperid,jdbcType=INTEGER},
      codeid = #{codeid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>